BraveSoftware/
chromium/
GIMP/
htop/
libreoffice/
microsoft-edge-dev/
mimeapps.list
nvim/
nwg-look/
pulse/
simple-update-notifier/
vesktop/
1Password/

newsboat/.newsboat/cache.db
miniflux_creds.conf

.stfolder/

.stfolder
newsboat/.newsboat/bookmarked-urls.txt
newsboat/.newsboat/history.cmdline
newsboat/.newsboat/history.search
systemd/.config/systemd/user/graphical-session.target.wants/
newsboat/.newsboat/cache.db
scripts/scripts/twitch_usernames.txt
