BraveSoftware/
chromium/
GIMP/
htop/
libreoffice/
microsoft-edge-dev/
mimeapps.list
nvim/
nwg-look/
pulse/
simple-update-notifier/
vesktop/
1Password/

newsboat/.newsboat/cache.db
miniflux_creds.conf

.stfolder/
